
body {
  width: 100%;
  height: 800px;
  background-color: #666666;
}

#page-container {
  display: block;
  width: 1150px;
  height: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
}

h1 {
  font-family: 'Noticia Text', serif;
  color: #FFF;
}

h2 {
  display: block;
  width: 1200;
}

a, h2, h3, h4, h5, h6, p, article, label, input, button {
  font-family: 'Abel', sans-serif;
  color: #FFF;
}

h2 {
  margin: 40px 60px;
  font-size: 1.6em;
}

nav {
  width: 100%;
  height: 170px;
  padding-top: 20px;
}

#grid-container {
  display:grid;
  grid-template-columns: 142px 142px 142px 142px 142px 142px 142px 142px;
  grid-template-rows: 170px 170px 170px 170px;
  font-size: 1.1em;
  grid-gap: 6px;
}

.shadow {
  box-shadow: 1px 2px 5px 1px #003333;
}

/* Codecademy */

#articleA {
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: linear-gradient(to bottom right, hsl(210, 100%, 90%), hsl(210, 100%, 80%), hsl(210, 100%, 70%));
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 180px;
  grid-template-rows: 150px;
  z-index: 98;
  transition: transform 2s ease 1s;
}

.articleA-itemA {
  color: black;
  grid-column: 1;
  place-items: center normal;
  padding: 15px 15px 0px 30px;
}

.articleA-itemA a {
  color: black;
}

.articleA-itemB {
  grid-column: 2;
  place-items: center normal;
  margin: 15px 20px 0 0;
}

/* Shuffle */

#articleB {
  grid-column-start: 5;
  grid-column-end: 6;
  background-image: linear-gradient(to bottom right, hsl(30, 100%, 70%), hsl(30, 100%, 60%), hsl(30, 100%, 50%));
  border-radius: 20px;
  z-index: 97;
  transition: transform 2s ease 1s;
}

#articleB p {
  font-size: 1.8em;
  font-family: 'Noticia Text', serif;
  padding: 25px 0 0 15px;
}

/* Video clip */

#articleC {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: linear-gradient(to bottom right, hsl(90, 50%, 70%), hsl(90, 50%, 60%), hsl(90, 50%, 50%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 1fr 189px 1fr auto;
  grid-template-rows: auto;
  z-index: 96;
  transition: transform 2s ease 1s;
}

.articleC-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 30px 20px;
}

.articleC-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 30px 10px;
}

/* GitHub */

#articleD {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient(to bottom right, hsl(0, 0%, 90%), hsl(0, 0%, 80%), hsl(0, 0%, 70%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 1fr 158px 1fr auto;
  grid-template-rows: auto;
  z-index: 99;
  transition: transform 2s ease 1s;
}

.articleD-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 15px 20px;
}

.articleD-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
}

/*  Magento */

#articleE {
  grid-column-start: 3;
  grid-column-end: 6;
  background-image: linear-gradient(to bottom right, hsl(240, 50%, 70%), hsl(240, 50%, 60%), hsl(240, 50%, 50%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 160px 260px;
  z-index: 95;
  transition: transform 2s ease 1s;
}

.articleE-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px;
}

.articleE-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  padding-right: 10px;
}

/*  Netsuite  */

#articleF {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: linear-gradient(to bottom right, hsl(300, 20%, 60%), hsl(300, 20%, 50%), hsl(300, 20%, 40%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 160px 260px;
  grid-template-rows: 300px;
  z-index: 96;
  transition: transform 2s ease 1s;
}

.articleF-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 25px 10px 0 25px;
  align-self: center;
}

.articleF-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  padding: 25px 20px 0 25px;
}

/*  Twitter  */

#articleG {
  grid-column-start: 4;
  grid-column-end: 6;
  background-image: linear-gradient(to bottom right, hsl(0, 0%, 100%), hsl(0, 0%, 95%), hsl(0, 0%, 90%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 140px 130px;
  grid-template-rows: 160px;
  z-index: 98;
}

.articleG-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px 10px;
  align-self: center;
}

.articleG-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  color: black;
}

/* Board Game Arena */

#articleH {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: linear-gradient(to bottom right, hsl(30, 50%, 70%), hsl(30, 50%, 60%), hsl(30, 50%, 50%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 160px 250px;
  grid-template-rows: 300px;
  z-index: 97;
  transition: transform 2s ease 1s;
}

.articleH-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px 10px 20px 25px;
  align-self: center;
}

.articleH-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  padding: 20px 10px 20px 10px;
  color: #FFF;
}

/* Spacer */

#articleI {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  background-image: linear-gradient(to bottom right, hsl(30, 100%, 70%), hsl(30, 100%, 60%), hsl(30, 100%, 50%));
  border-radius: 20px;
  z-index: 95;
}

#articleI p {
  font-size: 1.8em;
  font-family: 'Noticia Text', serif;
  padding: 25px 0 0 50px;
}

.navItem {
  font-family: 'Noticia Text', serif;
  float:left;
  margin: 52px 40px 0 40px;
  text-decoration: none;
  font-size: 1.3em;
}

.siteLogo {
  float:left;
  margin: 5px 60px;
  text-decoration: none;
}

#projectA {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient(to bottom right, hsl(240, 33.3%, 80%), hsl(240, 33.3%, 70%), hsl(240, 33.3%, 60%));
  border-radius: 20px;
  padding: 10px 20px 20px 25px;
}

.projectHeader {
  margin: 10px 0 15px 0;
}

#tipCalcContainer {
  grid-column-start: 3;
  grid-column-end: 7;
  background-image: linear-gradient(to bottom right, hsl(240, 33.3%, 80%), hsl(240, 33.3%, 70%), hsl(240, 33.3%, 60%));
  border-radius: 20px;
  display: grid;
  grid-template-columns: 472px;
  grid-template-rows: 50px, 200px, 80px;
  width: 472px;
  height: 330px;
}

#tipCalcHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  width: 470px;
  height: 40px;
}

#tipCalcHeader h2 {
  display: block;
  margin: auto 155px;
}

#tipCalculator {
  width: 340px;
  display: block;
  margin: 0 75px;
}

#tipCalculator button {
  margin: 10px 0 0 147px;
  color: black;
}

#tipCalculator label:first-child {
  padding-left: 25px;
}

#tipCalculator input {
  color: black;
}

#displayResultArea p:first-child {
  margin: 0 0 0 132px;
}

#displayResultArea p:last-child {
  margin: 0 0 0 149px;
}

#greeting {
  color: black;
}
