
body {
  width: 100%;
  height: 800px;
  background-color: #666666;
}

#page-container {
  display: block;
  width: 1175px;
  height: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
}

h1 {
  font-family: 'Noticia Text', serif;
  color: #FFF;
}

a, h2, h3, h4, h5, h6, p, article, label, input, button {
  font-family: 'Abel', sans-serif;
  color: #FFF;
}

h2 {
  margin: 40px 60px;
  font-size: 1.6em;
}

nav {
  width: 100%;
  height: 170px;
  padding-top: 20px;
}

#grid-container {
  display:grid;
  grid-template-columns: 142px 142px 142px 142px 142px 142px 142px 142px;
  grid-template-rows: 170px 170px 170px 170px;
  font-size: 1.1em;
  grid-gap: 6px;
}

.shadow {
  box-shadow: 1px 2px 5px 1px #003333;
}

/* Codecademy */

#articleA {
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: linear-gradient(to bottom right, hsl(210, 100%, 90%), hsl(210, 100%, 80%), hsl(210, 100%, 70%));
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto 180px;
  grid-template-rows: 150px;
  z-index: 98;
  transition: transform 2s ease 1s;
}

.articleA-itemA {
  color: black;
  grid-column: 1;
  place-items: center normal;
  padding: 15px 15px 0px 30px;
}

.articleA-itemA a {
  color: black;
}

.articleA-itemB {
  grid-column: 2;
  place-items: center normal;
  margin: 15px 20px 0 0;
}

/* Shuffle */

#articleB {
  grid-column-start: 5;
  grid-column-end: 6;
  background-image: linear-gradient(to bottom right, hsl(30, 100%, 70%), hsl(30, 100%, 60%), hsl(30, 100%, 50%));
  border-radius: 20px;
  z-index: 97;
  transition: transform 2s ease 1s;
}

#articleB p {
  font-size: 1.8em;
  font-family: 'Noticia Text', serif;
  padding: 25px 0 0 15px;
}

/* Video clip */

#articleC {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: linear-gradient(to bottom right, hsl(90, 50%, 70%), hsl(90, 50%, 60%), hsl(90, 50%, 50%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 1fr 189px 1fr auto;
  grid-template-rows: auto;
  z-index: 96;
  transition: transform 2s ease 1s;
}

.articleC-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 30px 20px;
}

.articleC-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 30px 10px;
}

/* GitHub */

#articleD {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient(to bottom right, hsl(0, 0%, 90%), hsl(0, 0%, 80%), hsl(0, 0%, 70%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 1fr 158px 1fr auto;
  grid-template-rows: auto;
  z-index: 99;
  transition: transform 2s ease 1s;
}

.articleD-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 25px 20px;
}

.articleD-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 45px;
}

/*  Magento */

#articleE {
  grid-column-start: 3;
  grid-column-end: 6;
  background-image: linear-gradient(to bottom right, hsl(240, 50%, 70%), hsl(240, 50%, 60%), hsl(240, 50%, 50%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 160px 260px;
  z-index: 95;
  transition: transform 2s ease 1s;
}

.articleE-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px;
}

.articleE-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  padding-right: 10px;
}

/*  Netsuite  */

#articleF {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: linear-gradient(to bottom right, hsl(300, 20%, 60%), hsl(300, 20%, 50%), hsl(300, 20%, 40%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 160px 260px;
  grid-template-rows: 300px;
  z-index: 96;
  transition: transform 2s ease 1s;
}

.articleF-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 25px 10px 0 25px;
  align-self: center;
}

.articleF-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  padding: 25px 20px 0 25px;
}

/*  Twitter  */

#articleG {
  grid-column-start: 4;
  grid-column-end: 6;
  background-image: linear-gradient(to bottom right, hsl(0, 0%, 100%), hsl(0, 0%, 95%), hsl(0, 0%, 90%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 140px 130px;
  grid-template-rows: 160px;
  z-index: 98;
}

.articleG-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px 10px;
  align-self: center;
}

.articleG-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  color: black;
}

/* Board Game Arena */

#articleH {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
  background-image: linear-gradient(to bottom right, hsl(30, 50%, 70%), hsl(30, 50%, 60%), hsl(30, 50%, 50%));
  border-radius: 20px;
  display:grid;
  grid-template-columns: 160px 250px;
  grid-template-rows: 300px;
  z-index: 97;
  transition: transform 2s ease 1s;
}

.articleH-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 20px 10px 20px 25px;
  align-self: center;
}

.articleH-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  margin: 0;
  padding: 20px 10px 20px 10px;
  color: #FFF;
}

/* Spacer */

#articleI {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  background-image: linear-gradient(to bottom right, hsl(30, 100%, 70%), hsl(30, 100%, 60%), hsl(30, 100%, 50%));
  border-radius: 20px;
  z-index: 95;
}

#articleI p {
  font-size: 1.8em;
  font-family: 'Noticia Text', serif;
  padding: 25px 0 0 50px;
  visibility: hidden;
}

.navItem {
  font-family: 'Noticia Text', serif;
  float:left;
  margin: 52px 40px 0 40px;
  text-decoration: none;
  font-size: 1.3em;
}

.siteLogo {
  float:left;
  margin: 5px 60px;
  text-decoration: none;
}

#projectA {
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: linear-gradient(to bottom right, hsl(240, 33.3%, 80%), hsl(240, 33.3%, 70%), hsl(240, 33.3%, 60%));
  border-radius: 20px;
  padding: 10px 20px 20px 25px;
}

.projectHeader {
  margin: 10px 0 15px 0;
}

#tipCalcContainer {
  grid-column-start: 3;
  grid-column-end: 7;
  background-image: linear-gradient(to bottom right, hsl(240, 33.3%, 80%), hsl(240, 33.3%, 70%), hsl(240, 33.3%, 60%));
  border-radius: 20px;
  display: grid;
  grid-template-columns: 472px;
  grid-template-rows: 50px, 200px, 80px;
  width: 472px;
  height: 330px;
}

#tipCalcHeader {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  width: 470px;
  height: 40px;
}

#tipCalcHeader h2 {
  display: block;
  margin: auto 155px;
}

#tipCalculator {
  width: 340px;
  display: block;
  margin: 0 75px;
}

#tipCalculator button {
  margin: 10px 0 0 147px;
  color: black;
}

#tipCalculator label:first-child {
  padding-left: 25px;
}

#tipCalculator input {
  color: black;
}

#displayResultArea p:first-child {
  margin: 0 0 0 132px;
}

#displayResultArea p:last-child {
  margin: 0 0 0 149px;
}

#greeting {
  color: black;
}

@media screen and (min-width: 360px) and (max-width: 480px) {

  body {
    width: 480px;
  }

  #page-container {
    display: block;
    width: 340px;
    margin: 0 auto;
  }

  #grid-container {
    display:grid;
    grid-template-columns: 340px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    font-size: 1.1em;
    grid-gap: 6px;
    clear: both;
  }

  .siteLogo {
    position: relative;
    left: 12px;
  }

  .navItem {
    position: relative;
    top: -50px;
    left: 80px;
  }

#articleB, #articleC, #articleI {
  visibility: hidden;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  padding: 0;
}

#articleB p, #articleI p {
  margin: 0;
  padding: 0;
}

.articleC-itemA, .articleC-itemB {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0;
  padding: 0;
}

#articleA {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-template-columns: 320px;
  grid-template-rows: 180px;
  place-items: center;
}

.articleA-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
}

.articleA-itemB {
  visibility:  hidden;
}

#articleD {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-template-columns: 155px 155px;
  grid-template-rows: 180px;
}

.articleD-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 37px 30px;
}

.articleD-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 55px;
  margin-left: 30px;
}

#articleE {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-columns: 320px;
  grid-template-rows: 180px;
}

.articleE-itemA {
  visibility:  hidden;
}

.articleE-itemB {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: auto;
  margin: -150px 30px 0 30px;
}

#articleF {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-template-columns: 320px;
  grid-template-rows: 180px;
}

.articleF-itemA {
  visibility:  hidden;
}

.articleF-itemB {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: auto;
  margin: -155px 10px 0 30px;
  padding: 0;
}

#articleG {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-template-columns: 155px 155px;
  grid-template-rows: 180px;
  }

  .articleG-itemA {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 30px 30px 0 20px;
  }

  .articleG-itemB {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 25px;
  margin-left: 10px;
  }

#articleH {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-template-columns: 320px;
  grid-template-rows: 180px;
  }

  .articleH-itemA {
  visibility:  hidden;
  }

  .articleH-itemB {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: auto;
  margin: -145px 10px 0 30px;
  padding: 0;
  }

  #tipCalcContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 340px;
    grid-template-rows: 50px, 200px, 80px;
    width: 340px;
    height: 330px;
  }

  #tipCalcHeader {
    width: 340px;
  }

  #tipCalcHeader h2 {
    display: block;
    margin: auto 85px;
  }

  #tipCalculator {
    width: 340px;
    display: block;
    margin: 0 30px;
  }

  #displayResultArea p:first-child {
    margin: 0 0 0 72px;
  }

  #displayResultArea p:last-child {
    margin: 0 0 0 89px;
  }


}

@media screen and (min-width: 320px) and (max-width: 360px) {

  body {
    width: 360px;
  }

  #page-container {
    display: block;
    width: 320px;
    margin: 0 auto;
  }

  #grid-container {
    display:grid;
    grid-template-columns: 320px;
    grid-template-rows: 200px 200px 200px 210px 200px 200px;
    font-size: 1.1em;
    grid-gap: 6px;
    clear: both;
  }

.articleA-itemA {
  margin-right: 15px;
}

.articleD-itemA {
  margin-left: 25px;
}

.articleD-itemB {
  margin-left: 20px;
}

.articleF-itemB {
  margin-top: -167px;
  margin-right: 30px;
}

.articleG-itemA {
  margin-left: 15px;
}

.articleG-itemB {
  margin-left: 0;
  margin-right: 25px;
}

.articleH-itemB {
  margin-right: 30px;
}

#tipCalcContainer {
  grid-template-columns: 320px;
  grid-template-rows: 50px, 200px, 80px;
  width: 320px;
  height: 330px;
}

#tipCalcHeader {
  width: 320px;
}

#tipCalcHeader h2 {
  display: block;
  margin: auto 80px;
}

#tipCalculator {
  width: 320px;
  display: block;
  margin: 0 30px;
}
}
